* {
    padding: 0px;
    margin: 0px;
    font-family: MicrosoftYaHei;
}

body,
html {
    width: 100%;
    height: 100%;
}

header {
    box-shadow: 0px 3px 7px 0px rgba(3, 3, 3, 0.04);
}

main {
    width: 100%;
    background: #fff;
    transform: translateZ(-1px);
    margin-top: 2px;
}

main .header-cat {
    display: none;
}

main .footer-active {
    display: none;
}

main .map {
    width: 100%;
    height: 855px;
    background: url("../../image/map.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    z-index: -1;
}

main .map .mapBox {
    width: 184px;
    height: 121px;
    background-image: url("../../image/yuanjiao.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    line-height: 95px;
    font-size: 24px;
    font-weight: 400;
    color: rgba(27, 46, 69, 1);
    position: absolute;
    top: 27%;
    left: 33%;

}

main .map .contat {
    position: absolute;
    width: 942px;
    height: 995px;
    text-align: right;
    right: 0px;
    padding-right: 40px;
    box-sizing: border-box;
    padding-right: 100px;
}

main .map .contat dl {
    width: 100%;
    height: 100%;
}

main .map .contat dl dt {
    font-size: 32px;
    font-weight: 400;
    color: rgba(27, 46, 69, 1);
    position: relative;
    margin-top: 217px;
}

main .map .contat dl dt::before {
    content: "";
    display: inline-block;
    width: 124px;
    height: 4px;
    background: rgba(27, 46, 69, 1);
    position: absolute;
    bottom: -60px;
    right: 0px;
}

main .map .contat dl dd:nth-of-type(1) {
    margin-top: 106px;
    font-size: 24px;
    font-weight: 400;
    color: rgba(131, 136, 152, 1);
}

main .map .contat dl dd:nth-of-type(2) {
    margin-top: 165px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(131, 136, 151, 1);
    line-height: 25px;
    position: relative;
}

main .map .contat dl dd:nth-of-type(3) {
    display: inline-block;
    width: 466px;
    height: 2px;
    background: rgba(131, 136, 151, 1);
    margin-top: 39px;
}

main .map .contat dl dd:nth-of-type(4) {
    font-size: 16px;
    font-weight: 400;
    color: rgba(131, 136, 151, 1);
    line-height: 25px;
    margin-top: 39px;
}

main .map .contat dl dd:nth-of-type(5) {
    font-size: 16px;
    font-weight: 400;
    color: rgba(131, 136, 151, 1);
    line-height: 25px;
}
footer{
    margin-top: 0px !important;
}
/* 平板适配 */
@media screen and (max-width: 1199px) {
    main .map {
        width: 100%;
        height: 800px;
        background: url("../../image/map.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;
        margin-top: 60px;
    }

    main .map .mapBox {
        width: 144px;
        height: 101px;
        background-image: url("../../image/yuanjiao.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: flex;
        justify-content: center;
        line-height: 95px;
        font-size: 24px;
        font-weight: 400;
        color: rgba(27, 46, 69, 1);
        position: absolute;
        top: 27%;
        left: 32%;
    }

    main .map .contat {
        position: absolute;
        right: 10px;
        width: 300px;
        height: 100%;
        text-align: right;
    }

    main .map .contat dl {
        width: 100%;
        height: 100%;
    }

    main .map .contat dl dt {
        font-size: 32px;
        font-weight: 400;
        color: rgba(27, 46, 69, 1);
        position: relative;
        margin-top: 217px;
    }

    main .map .contat dl dt::before {
        content: "";
        display: inline-block;
        width: 124px;
        height: 4px;
        background: rgba(27, 46, 69, 1);
        position: absolute;
        bottom: -30px;
        right: 0px;
    }

    main .map .contat dl dd:nth-of-type(1) {
        margin-top: 86px;
        font-size: 24px;
        font-weight: 400;
        color: rgba(131, 136, 152, 1);
    }

    main .map .contat dl dd:nth-of-type(2) {
        margin-top: 100px;
        font-size: 16px;
        font-weight: 400;
        color: rgba(131, 136, 151, 1);
        line-height: 25px;
        position: relative;
    }

    main .map .contat dl dd:nth-of-type(3) {
        display: inline-block;
        width: 360px;
        height: 2px;
        background: rgba(131, 136, 151, 1);
        margin-top: 39px;
    }

    main .map .contat dl dd:nth-of-type(4) {
        font-size: 16px;
        font-weight: 400;
        color: rgba(131, 136, 151, 1);
        line-height: 25px;
        margin-top: 39px;
    }

    main .map .contat dl dd:nth-of-type(5) {
        font-size: 16px;
        font-weight: 400;
        color: rgba(131, 136, 151, 1);
        line-height: 25px;
    }
}

@media screen and (max-width: 760px) {
    main {
        width: 100%;
        height: 900px;
        background: #fff;
    }

    main .header-cat {
        display: block;
        width: 100%;
        margin-top: 188px;
        text-align: center;

    }

    main .header-cat h1 {
        font-size: 32px;
        font-weight: 400;
        color: rgba(27, 46, 69, 1);
        position: relative;
    }

    main .header-cat h1::before {
        content: "";
        display: inline-block;
        width: 124px;
        height: 4px;
        background: rgba(27, 46, 69, 1);
        position: absolute;
        /* right: 0px; */
        bottom: -33px;
    }

    main .header-cat p {
        margin-top: 77px;
        font-size: 24px;
        font-weight: 400;
        color: rgba(131, 136, 152, 1);
    }

    main .footer-active {
        display: block;
    }

    main .map {
        width: 100%;
        height: 456px;
        background: url("../../image/map.png");
        background-repeat: no-repeat;
        background-size: 200% 200%;
        background-position-x: 0px;
        background-position-y: -10px;
        position: relative;
    }

    main .map .mapBox {
        width: 90px;
        height: 40px;
        background-image: url("../../image/yuanjiao.png");
        background-repeat: no-repeat;
        background-size: 100% 110%;
        display: flex;
        justify-content: center;
        line-height: 35px;
        font-size: 16px;
        font-weight: 400;
        color: rgba(27, 46, 69, 1);
        position: absolute;
        top: 300px;
        left: 70%;
    }

    main .map .contat {
        display: none;
    }

    .footer-active {
        width: 100%;
        box-sizing: border-box;
        padding: 0px 10px;
        margin-top: 30px;
    }

    main .footer-active dl dd {
        white-space: normal;
    }

    main .footer-active dl dd:nth-of-type(1) {
        font-size: 16px;
        font-weight: 400;
        color: rgba(131, 136, 152, 1);
        position: relative;
    }

    main .footer-active dl dd:nth-of-type(1)::before {
        content: "";
        display: inline-block;
        width: 22px;
        height: 27px;
        background-image: url("../../image/dizhi\ .png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-right: 21px;
    }

    main .footer-active dl dd:nth-of-type(2) {
        font-size: 16px;
        font-weight: 400;
        color: rgba(131, 136, 152, 1);
    }

    main .footer-active dl dd:nth-of-type(2)::before {
        content: "";
        display: inline-block;
        width: 22px;
        height: 27px;
        margin-right: 21px;
        background-image: url("../../image/phone.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    main .footer-active dl dd:nth-of-type(3) {
        font-size: 16px;
        font-weight: 400;
        color: rgba(131, 136, 152, 1);
    }

    main .footer-active dl dd:nth-of-type(3)::before {
        content: "";
        display: inline-block;
        width: 22px;
        height: 27px;
        background-image: url("../../image/email.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-right: 21px;
    }

    /* 
    main .footer-active dl dd {
        font-size: 26px;
        font-weight: 400;
        color: rgba(131, 136, 151, 1);
        line-height: 25px;
    }

    main .map .contat dl {
        width: 100%;
        height: 100%;
    }

    main .map .contat dl dd:nth-of-type(1) {
        margin-top: 106px;
        font-size: 24px;
        font-weight: 400;
        color: rgba(131, 136, 152, 1);
        position: relative;
    }

    main .map .contat dl dd:nth-of-type(1)::before {
        content: "";
        display: inline-block;
        width: 22px;
        height: 27px;
        background-image: url("../../image/dizhi\ .png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-right: 21px;
    }
    main .map .contat dl dd:nth-of-type(2){
       margin-top: 0px;
    }
    main .map .contat dl dd:nth-of-type(3) {
        margin-top: 70px;
        font-size: 24px;
        font-weight: 400;
        color: rgba(131, 136, 152, 1);
    }

    main .map .contat dl dd:nth-of-type(3)::before {
        content: "";
        display: inline-block;
        width: 22px;
        height: 27px;
        margin-right: 21px;
        background-image: url("../../image/phone.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    main .map .contat dl dd:nth-of-type(4) {
        font-size: 24px;
        font-weight: 400;
        color: rgba(131, 136, 152, 1);
    }

    main .map .contat dl dd:nth-of-type(4)::before {
        content: "";
        display: inline-block;
        width: 22px;
        height: 27px;
        background-image: url("../../image/email.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-right: 21px;
    } */
}

@media screen and (max-width: 560px) {
    main .footer-active dl dd:nth-of-type(1) {
        font-size: 13px;
        font-weight: 400;
        color: rgba(131, 136, 152, 1);
        position: relative;
    }

    main .footer-active dl dd:nth-of-type(2) {
        font-size: 13px;
    }

    main .footer-active dl dd:nth-of-type(3) {
        font-size: 13px;
    }
}