*,html,body,p,ul{
    margin: 0;
    padding: 0;
}
a:link,a:visited{color:#fff;text-decoration:none;}
a:hover{color:#fff;}
ul li{
    list-style: none;
}
.index-top {
    width: 100%;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.index-top img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}
.index-middle{
    padding: 42px 0;
}
.middle-title1{
    text-align: center;
    font-size: 16px;
    color:rgba(27,46,69,1);
}
.middle-title2{
    text-align: center;
    font-size: 20px;
    color:rgba(131,136,152,1);
    margin-bottom: 50px;
}
.index-content{
    width: 1200px;
    margin: 0px auto 100px;
}

.middle-btm-ul li{
    float: left;
    margin-right: 48px;
    width: calc(25% - 40px);
}
.middle-btm-ul li:last-child{
    margin-right: 0;
}
.middle-btm-ul img{
    width: 30%;
    /*height: 55px;*/
    margin-right: 10px;
    vertical-align: top;
    border: 1px dashed #000;
}
.middle-btm-ul-con{
    display: inline-block;
    width: 60%;
    text-align: left;
}
.middle-btm-ul-con span{
    display: inline-block;
    font-size: 10px;
    color:rgba(131,136,151,1);
}
.middle-btm-ul-con span:first-child{
    display: inline-block;
    font-size: 16px;
    color:rgba(27,46,69,1);
}
.middle-btm-ul-con span{
    display: block;
}
.footer-right{
    text-align: right;
}
.footer-btm{
    text-align: center;
    line-height: 38px;
}
.index-top{
    color: #fff;
}
.top-title{
    font-size:55px;
    text-align: center;
}
.top-title-btm{
    text-align: center;
    margin-top: 25px;
    font-size: 32px;
}
.index-middle-btm-con-img0{
    width: 70%;
    float: left;
    height: 100%;
}
.index-middle-btm-con-img1{
    width: 70%;
    height: 100%;
}
.index-middle-btm-con-title0{
    display: inline-block;
    width: 30%;
    height: 100%;
    text-align: right;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.index-middle-btm-con-title1{
    display: inline-block;
    width: 30%;
    height: 100%;
    text-align: left;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.index-middle-btm-conList{
    margin-bottom: 50px;
    height: 264px;
}
.index-middle-btm-con-title-title1{
    font-size: 50px;
    font-family:Rockwell-ExtraBold;
    color:rgba(27,46,69,1);
}
.index-middle-btm-con-title-title2{
    font-size:16px;
    font-family:MicrosoftYaHei;
    color:rgba(27,46,69,1);
    margin-bottom: 20px;
    vertical-align: middle;
}
.index-middle-btm-con-title-title3{
    font-size:12px;
    font-family:MicrosoftYaHei;
    color:rgba(131,136,151,1)
}
@media (max-width: 1199px) {
    .top-title{
        font-size:30px;
        text-align: center;
    }
    .top-title-btm{
        margin-top: 25px;
        font-size: 22px;
    }
    .index-content{
        width: calc(100% - 20px);
        margin: 0px auto 100px;
        padding: 0 10px;
    }
    .middle-btm-ul li {
        float: left;
        width: 25%;
        height: 80px;
        text-align: center;
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .lead {
        font-size: 21px;
    }
    .index-top {
        width: 100%;
        height: 230px;
        margin-top: 60px;
    }
    .middle-btm-ul li{
        width: 48%;
        height: 100px;
        margin: 0;
        margin-bottom: 10px;
    }
    .middle-btm-ul img{
        width: 30%;
    }
    .middle-btm-ul-con{
        display: inline-block;
        width: 50%;
        text-align: left;
        font-size: 12px;
    }
    .middle-btm-ul-con span:first-child{
        font-size: 12px;
    }
    .index-middle-btm-con-img0,.index-middle-btm-con-img1{
        width: 70%;
        height: 100%;
        float: none;
    }
    .index-middle-btm-con-title0{
        display: inline-block;
        width: 30%;
        height: auto;
        float: right;
        padding: 0;
        text-align: center;
    }
    .index-middle-btm-con-title1{
        float: left;
    }
    .index-middle-btm-con-title-title1{
        font-size: 40px;
    }
    .index-middle-btm-con-title-title2{
        font-size: 13px;
    }
    .index-middle-btm-conList{
        height: 200px;
    }
}